body{
    font-family: 'Exo', sans-serif;
    background: #0e1525;
}
*{
    padding: 0;
    margin: 0;
}

.container-menu{
    margin: auto;
    width: 1310px;
}

ul,li{
    list-style: none;
}

.nav_menu li a{
    background-color: #0d3b617f;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.nav_menu li a:hover{
    background-color: #14429e;
}

nav > li {
   float: left;
}

.nav_menu li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav_menu li:hover > ul{
   display: block;
}


.container-titulo{
    margin: auto;
    width: 420px;
    padding-top: 100px;
}

.titulo{
    font-size: 27px;
    padding: 20px;
    color: #fff;
    text-shadow: 2px 2px 60px #0079f2;
}

.container-info{
    color:#fff;
    margin: auto;
    width: 800px;
    padding-top: 100px;
}

.bottom-continue{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 5px;
    padding: 20px;
}

.bottom{
    color: #57abff;
    background-color: #1c2333;
    border-radius: 20px;
    padding: 20px;
    user-select: none;
}

.bottom:hover{
    background-color: transparent;
    border: 2px solid #0079f2;
    box-shadow: 0px 4px 20px #0079f2;
    transition: .1s;
    transform: scale(1.025);
}

.container-level_1{
    background-color: #1c2333;
    color: #fff;
    margin: auto;
    width: 800px;
    padding: 50px;
}

.container-sintaxis{
    border: 2px solid #b0aa9f75;
    border-radius: 10px;
    background-color: #b0aa9f75;
    font-size: 20px;
    border: none;
}

.container-sintax_2{
    border: 2px solid #b0aa9f75;
    border-radius: 10px;
    background-color: #b0aa9f75;
    font-size: 20px;
    border: none;
}

.token-var{
    color: rgb(19, 112, 44);
}

.token-nombre{
    color: rgb(32, 50, 114);
}

.token-condicional{
    color: rgb(131, 21, 21);
}

.token-num{
    color: #685e15;
}

.token-llamar{
    color: #a0440f;
}

.token-paren{
    color: rgb(60, 60, 60);
}

.container-problemas{
    margin: auto;
    width: 800px;
    padding-top: 100px;
}

.desarrollo-1{
    resize: none;
    width: 200px;
    height: 50px;
    border: 2px solid rgb(95, 89, 89);
    background-color: rgb(152, 139, 139);
    border-radius: 10px;
}

.respuesta-1{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 5px;
    background-color: #359acc;
    border: none;
}

.respuesta-1:hover{
    background-color: #3b6c85;
}


img{
    margin: auto;
    width: 700px;
    padding-top: 50px;
}

.ejemplo-var{
    width: 400px;
    height: 300px;
}

.ejemplo-prompt{
    width: 800px;
    height: 300px;
}

.token-condicion{
    color: rgb(64, 18, 112);
}

.token-operacion{
    color: rgb(29, 92, 73);
}